# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Project Data & Models (large binary files)
data/*
!data/data.yaml
models/*
!models/test_metrics.txt
runs/

# Environment Variables & Keys
.env

# OS Metadata
.DS_Store
Thumbs.db
